<div style="text-align: center;">
    <h2 class="text-center">DevTrivia: <br> Advinhe o nome</h2>
    <img class="imgBrain" src="./img/brain333.jpg" alt="brain image">
    <a href="/categorias"><button class="btn play">Play</button></a>
</div>